.regButton{
    outline: none;
    color: #fff;
    padding: 0.5em 2em;
    margin-left: 15px;
    font-size: 1em;
    -webkit-appearance: none;
    background: #ffcc54;
    border: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    /* width: 100%; */
    letter-spacing: 1px;
}

.regButton:hover{
    background: #000;
    color: #fff;
}

.inputType{
    width: 100%;    
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.85em 1em;
    margin-bottom: 20px;
    border: solid 1px #c7c7c7;
    -webkit-appearance: none;
    display: inline-block;
}